pipeline/ProcessAzureAS_Dimensions.json
{
	"name": "ProcessAzureAS_Dimensions",
	"properties": {
		"activities": [
			{
				"name": "UntilRefreshComplete",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "FilterToCurrentRefresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('GetAzureASRefreshStatus').output.status,'inProgress'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetAzureASRefreshStatus",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait30Seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes/',activity('FilterToCurrentRefresh').output.Value[0].refreshId)",
									"type": "Expression"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://*.asazure.windows.net"
								}
							}
						},
						{
							"name": "Wait30Seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "StartProcessingAzureAS",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"Type": "Full",
						"Objects": [
							{
								"database": "EnactorRetailSales",
								"table": "Currency"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Date"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Promotion"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Tender"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Location"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Loyalty"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Customer"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Category"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Reason"
							},
							{
								"database": "EnactorRetailSales",
								"table": "InventoryType"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Hour"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Product"
							},
							{
								"database": "EnactorRetailSales",
								"table": "ProductCategory"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Colour"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Size"
							},
							{
								"database": "EnactorRetailSales",
								"table": "StockledgerTransactionType"
							},
							{
								"database": "EnactorRetailSales",
								"table": "Supplier"
							},
							{
								"database": "EnactorRetailSales",
								"table": "CurrentInventoryLevels"
							}
						],
						"CommitMode": "transactional",
						"MaxParallelism": 10,
						"RetryCount": 2
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net"
					}
				}
			},
			{
				"name": "IfFailed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "UntilRefreshComplete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetAzureASRefreshStatus').output.status,'failed')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ThrowErrorOnFailure",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@string(activity('GetAzureASRefreshStatus').output)",
									"type": "Expression"
								},
								"method": "GET"
							}
						}
					]
				}
			},
			{
				"name": "GetAzureASRefreshes",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "StartProcessingAzureAS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://',pipeline().parameters.Region,'.asazure.windows.net/servers/',pipeline().parameters.Server,'/models/',pipeline().parameters.DatabaseName,'/refreshes')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"Type": "Full",
						"CommitMode": "transactional",
						"MaxParallelism": 10,
						"RetryCount": 2
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://*.asazure.windows.net"
					}
				}
			},
			{
				"name": "FilterToCurrentRefresh",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetAzureASRefreshes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('GetAzureASRefreshes').output.Response)",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(item().startTime,addseconds(activity('StartProcessingAzureAS').output.startTime,-30))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"TenantID": {
				"type": "String",
				"defaultValue": "0e81f23b-8b67-4f1f-832b-ee8815c8ef62"
			},
			"SubscriptionID": {
				"type": "String",
				"defaultValue": "89cee0ec-2e9e-4738-8b18-d3cc5a29c156"
			},
			"Region": {
				"type": "String",
				"defaultValue": "uksouth"
			},
			"Server": {
				"type": "String",
				"defaultValue": "prevalas001"
			},
			"DatabaseName": {
				"type": "String",
				"defaultValue": "FlashSales"
			}
		},
		"folder": {
			"name": "Azure AS"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-15T18:11:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}