pipeline/ResumeAzureAS.json
{
	"name": "ResumeAzureAS",
	"properties": {
		"activities": [
			{
				"name": "GetAzureAS State",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If AS is Paused",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.AnalysisServices/servers/',pipeline().parameters.Server,'?api-version=2017-08-01')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"Dummy": "Dummy"
					},
					"authentication": {
						"resource": "https://management.azure.com/",
						"credential": {
							"referenceName": "BI_App_User",
							"type": "CredentialReference"
						},
						"userTenant": "1d10e28a-ceee-4836-9493-c5bbbb817996"
					}
				}
			},
			{
				"name": "CheckAzureASState",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.AnalysisServices/servers/',pipeline().parameters.Server,'?api-version=2017-08-01')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"Dummy": "Dummy"
					},
					"authentication": {
						"resource": "https://management.azure.com/",
						"credential": {
							"referenceName": "BI_App_User",
							"type": "CredentialReference"
						},
						"userTenant": "1d10e28a-ceee-4836-9493-c5bbbb817996"
					}
				}
			},
			{
				"name": "If AS is Paused",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckAzureASState",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('CheckAzureASState').output.properties.state,'Paused')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ResumeAzureAS",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.AnalysisServices/servers/',pipeline().parameters.Server,'/Resume?api-version=2017-08-01')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"body": {
									"Dummy": "Dummy"
								},
								"authentication": {
									"resource": "https://management.azure.com/",
									"credential": {
										"referenceName": "BI_App_User",
										"type": "CredentialReference"
									},
									"userTenant": "1d10e28a-ceee-4836-9493-c5bbbb817996"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SubscriptionID": {
				"type": "String",
				"defaultValue": "33fb0613-d250-4bb2-ba76-4385eca3d510"
			},
			"Server": {
				"type": "String",
				"defaultValue": "enbiasdemo01"
			},
			"ResourceGroupName": {
				"type": "string",
				"defaultValue": "en-bi-rg-demo01"
			}
		},
		"folder": {
			"name": "Azure AS"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-02T08:05:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}